{% if postsFeatured|length %}
    <section id="carousel" class="carousel-container">
        <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-4">
            <h2>ARTICLES DU MOMENT</h2>
            <div class="col-8 d-flex justify-content-center">
                <hr class="w-100">
            </div>
        </div>
        <div id="carouselPostsFeatured" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for i in range(0, postsFeatured|length-1) %}
                    {% if i == 0 %}
                        <button type="button" data-bs-target="#carouselPostsFeatured" data-bs-slide-to="{{ i }}" class="active" aria-current="true" aria-label="Slide {{ i }}"></button>
                    {% else %}
                        <button type="button" data-bs-target="#carouselPostsFeatured" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i }}"></button>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for i in range(0, postsFeatured|length-1) %}
                    <div class="carousel-item {{ i == 0 ? "active" : "" }}">
                        <div class="row justify-content-center mb-5" style="height: 450px;">
                                <a href="{{ path("app_post_details", {id: postsFeatured[i].post_id}) }}" class="carousel-card col-8">
                                    <h2 class="text-center mb-4">{{ postsFeatured[i].post_title|unescape }}</h2>
                                    <p class="">{{ postsFeatured[i].post_chapo|unescape|nl2br }}</p>
                                </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPostsFeatured" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPostsFeatured" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
{% endif %}
