<section id="presentation" class="p-0">
    <div class="row gx-0 justify-content-center">
        <div class="col-12">
            <div class="row gx-0 justify-content-center px-3">
                <div class="col-12 mt-3">
                    <div class="d-flex flex-column align-items-center justify-content-center slogan">
                        <h1 class="text-center">Développeur PHP</h1>
                    </div>
                </div>
                <div class="col-12 mb-2 mt-2 d-flex flex-column align-items-center justify-content-center profil">
                    <img src="{{ asset("images/profil.png") }}" alt="image profil">
                </div>
                <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                    <div class="phrase-catch d-flex text-justify mt-5">
                        <h4 class="text-center p-3">Je conçois et développe des applications web innovantes et performantes, et j'adore ça!</h4>
                    </div>
                </div>
            </div>
            <div class="presentation-content row gx-0 justify-content-center bg-dark mt-5">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                    <div class="d-flex flex-column justify-content-center align-items-start text-justify text-white py-5">
                        <h3 class="align-self-center mb-5">Hi, je suis Mehdi et je suis ravi de te rencontrer.</h3>
                        <p class="my-3">
                            Passionné et autodidacte de code depuis mon enfance. En décembre 2022, j'ai décidé
                            de débuter une formation diplômante chez OpenClassrooms en tant que &laquo; Développeur
                            d'application PHP/Symfony &raquo;.
                        </p>
                        <p class="my-3">
                            Je suis ambitieux, persévérant et loyal, toujours en quête de connaissances dans ce
                            domaine, qu'importe la ou les technologies.
                        </p>
                        <p class="my-3">
                            Au plaisir de partager cette passion avec vous, n'hésitez pas à me contacter via le
                            formulaire de contact.
                        </p>
                        <p class="mt-2 align-self-end mt-5">
                            <a class="me-3 link-dark" href="https://github.com/MH-DevApp">
                                <img src="{{ asset("images/logos/github.svg") }}" alt="Logo Github">
                            </a>
                            <a class="me-3 link-dark" href="https://www.linkedin.com/in/mehdi-haddou">
                                <img src="{{ asset("images/logos/linkedin.svg") }}" alt="Logo Linkedin">
                            </a>
                            <a class="me-3 link-dark" href="{{ asset("files/cv.pdf") }}">
                                <img src="{{ asset("images/logos/file-pdf-solid.svg") }}" alt="Logo PDF CV">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="technologies row g-3 justify-content-center m-0 my-4">
                <div class="col-12 d-flex flex-column align-items-center justify-content-center mb-3">
                    <h2>COMPETENCES</h2>
                    <div class="col-8 d-flex justify-content-center">
                        <hr class="w-100">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                    <article class="card d-flex flex-column h-100">
                        <div class="card-header d-flex justify-content-center align-items-center position-relative">
                            <img class="rounded position-absolute" src="{{ asset("images/logos/html&css.png") }}" alt="Logo HTML & CSS">
                            <h3>HTML & CSS</h3>
                        </div>
                        <div class="card-body text-justify d-flex flex-column justify-content-around flex-fill">
                            <h4 class="card-title text-center bg-dark text-light rounded py-2 text-decoration-underline">
                                HTML
                            </h4>
                            <p class="card-text">
                                Création de page web structurées et sémantiques et utilisation de balises
                                appropriées pour définir la hiérarchie du contenu.
                            </p>
                            <h4 class="card-title text-center bg-dark text-light rounded py-2 text-decoration-underline">
                                CSS
                            </h4>
                            <p class="card-text">
                                Maîtrise des principes fondamentaux du CSS, création de mises en page responsives et
                                attrayantes pour les utilisateurs. <br/><br/>
                                Utilisation du framework Bootstrap pour accélérer
                                le processus de développement.
                            </p>
                        </div>
                        <div class="card-footer text-muted text-center py-2">
                            <div class="bg-light w-100 border border-dark text-light">
                                <div class="bg-dark" style="width: 70%; height: 10px;"></div>
                            </div>
                            <div class="small">70 %</div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                    <article class="card d-flex flex-column h-100">
                        <div class="card-header d-flex justify-content-center align-items-center position-relative">
                            <img class="rounded position-absolute" src="{{ asset("images/logos/js.png") }}" alt="Logo Javascript">
                            <h3>Javascript</h3>
                        </div>
                        <div class="card-body text-justify d-flex flex-column justify-content-around flex-fill">
                            <p class="card-text">
                                Maîtrise des fondamentaux du langage JavaScript (types de données, opérateurs,
                                conditions, boucles, fonctions, etc.).
                            </p>
                            <p class="card-text">
                                Connaissance des concepts de programmation orientée objet et fonctionnelle en
                                JavaScript.
                            </p>
                            <p class="card-text">
                                Connaissance des API Web (Application Programming Interface) et de la communication
                                avec des services Web à l'aide de JavaScript.
                            </p>
                            <p class="card-text">
                                Capacité à résoudre des problèmes
                                complexes en utilisant des outils et des techniques de débogage.
                            </p>
                        </div>
                        <div class="card-footer text-muted text-center py-2">
                            <div class="bg-light w-100 border border-dark text-light">
                                <div class="bg-dark" style="width: 60%; height: 10px;"></div>
                            </div>
                            <div class="small">60 %</div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                    <article class="card d-flex flex-column h-100">
                        <div class="card-header d-flex justify-content-center align-items-center position-relative">
                            <img class="rounded position-absolute" src="{{ asset("images/logos/php.png") }}" alt="Logo PHP">
                            <h3>PHP</h3>
                        </div>
                        <div class="card-body text-justify d-flex flex-column justify-content-around flex-fill">
                            <p class="card-text">
                                Maîtrise des concepts fondamentaux de PHP (variables, tableaux, boucles,
                                conditions, fonctions, etc.) et des concepts de programmation orientée objet.
                            </p>
                            <p class="card-text">
                                Utilisation de la base de données MySQL pour stocker, organiser et interroger des
                                données.
                            </p>
                            <p class="card-text">
                                Connaissance des pratiques de sécurité pour éviter les vulnérabilités telles que les
                                injections SQL et les attaques XSS (cross-site scripting).
                            </p>
                            <p class="card-text">
                                Capacité à résoudre des problèmes complexes en utilisant des outils de débogage et
                                des techniques de débogage en PHP.
                            </p>
                            <p class="card-text">
                                Utilisation du framework Symfony pour accélérer le développement d'applications
                                web robustes.
                            </p>
                        </div>
                        <div class="card-footer text-muted text-center py-2">
                            <div class="bg-light w-100 border border-dark text-light">
                                <div class="bg-dark" style="width: 80%; height: 10px;"></div>
                            </div>
                            <div class="small">80 %</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
