{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section id="register" class="mb-4 d-flex flex-column align-items-center">
        <h3 class="text-center mb-2 bg-dark text-light py-5 w-100">
            <img src="{{ asset("images/logos/right-to-bracket-solid.svg") }}" alt="Logo ID card">
            <span>FORMULAIRE DE CONNEXION</span>
        </h3>
        <div class="col-12 col-md-8 col-xl-6 p-2 p-lg-5">
            {% if errors.global is defined %}
                <div class="col-12 text-center text-danger">{{ errors.global }}</div>
            {% endif %}
            <form class="border shadow rounded p-3" method="post">
                <div class="col-12 form-floating mb-2">
                    <input
                            type="email"
                            class="form-control {% if submitted %}{{ errors.email is defined ? "is-invalid" : "is-valid" }}{% endif %}"
                            id="email"
                            name="email"
                            placeholder="Email"
                            value="{{ data.email ?? "" }}"
                            required
                    >
                    <label for="email">Email</label>
                    {% if errors.email is defined %}
                        <div class="invalid-feedback">{{ errors.email }}</div>
                    {% endif %}
                </div>
                <div class="col-12 form-floating mb-2">
                    <input
                            type="password"
                            class="form-control {% if submitted %}{{ errors.password is defined ? "is-invalid" : "is-valid" }}{% endif %}"
                            id="password"
                            name="password"
                            placeholder="Mot de passe"
                            value=""
                            required
                    >
                    <label for="password">Mot de passe</label>
                    {% if errors.password is defined %}
                        <div class="invalid-feedback">{{ errors.password }}</div>
                    {% endif %}
                </div>
                <input type="hidden" name="_csrf" value="{{ csrf("authenticate") }}">
                <div class="d-flex justify-content-between my-2 p-2">
                    <a class="link-secondary" href="{{ path("app_auth_forgotten_password") }}">Mot de passe perdu ?</a>
                    <button type="submit" class="btn btn-dark">Se connecter</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
