{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    <section id="register" class="mb-4 d-flex flex-column align-items-center">
        <h3 class="text-center mb-2 bg-dark text-light py-5 w-100">
            <img src="{{ asset("images/logos/key-solid.svg") }}" alt="Logo Key">
            <span>REINITIALISER LE MOT DE PASSE</span>
        </h3>
        <div class="col-12 col-md-8 col-xl-6 p-2 p-lg-5">
            {% if errors.global is defined %}
                <div class="col-12 text-center text-danger">{{ errors.global }}</div>
            {% endif %}
            <form class="border shadow rounded p-3" method="post">
                <div class="col-12 form-floating mb-2">
                    <input
                            type="password"
                            class="form-control {% if submitted %}{{ errors.newPassword is defined ? "is-invalid" : "is-valid" }}{% endif %}"
                            id="newPassword"
                            name="newPassword"
                            placeholder="Mot de passe"
                            value="{{ data.newPassword ?? "" }}"
                            required
                    >
                    <label for="newPassword">Mot de passe</label>
                    {% if errors.newPassword is defined %}
                        <div class="invalid-feedback">{{ errors.newPassword }}</div>
                    {% endif %}
                </div>
                <div class="col-12 form-floating mb-4">
                    <input
                            type="password"
                            class="form-control"
                            id="confirmNewPassword"
                            name="confirmNewPassword"
                            placeholder="Confirmation mot de passe"
                            value=""
                            required
                    >
                    <label for="confirmNewPassword">Confirmation mot de passe</label>
                </div>
                <input type="hidden" name="_csrf" value="{{ csrf("forgotten-password-reset") }}">
                <div class="my-2 text-end p-2">
                    <button type="submit" class="btn btn-dark">Envoyer</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
